$cBase: #2d2c23;
$cWhite: #ffffff;
$cOpenToggle: #faf9f1;

$cMainBg: #faf9f1;
$cActive: #00991a;

$cSlidTitle: #022e4a;
$cIcon: #022e4a;
$cFooterBg: #022033;
$cWorksLink: #1232B5;
// #B51234
// #1232B5