.is-open {
     .header__menu {
        right: 0;
    }
     .toggle {
         .toggle__span:nth-child(1) {
            transform: rotate(230deg) translate(-9px, -9px);
            background-color: $cOpenToggle;
        }
         .toggle__span:nth-child(2) {
            transform: translateX(100px);
            background-color: $cOpenToggle;
            opacity: 0;
        }
         .toggle__span:nth-child(3) {
            transform: rotate(-230deg) translate(-5px, 5px);
            background-color: $cOpenToggle;
        }
    }

}

// .mainview__title {
//     opacity: 0;

//     &.is-inview {
//         opacity: 1;
//         @include animation(
//             $name: mainviewTitle,
//             $timing-function: ease-out,
//             $duration: 1.5s,
//         );
//         @keyframes mainviewTitle {
//             0% {
//                 transform: translateX(-200%) scale(1.5);
//                 opacity: 0;
//             }
//             90% {
//                 opacity: 1;
//             }
//             100% {
//                 transform: translate(50%, 50%) scale(1);
//                 opacity: 1;
//             }
//         }
//     }
// }

// .section__title {
//      span {
//         color: transparent;
//         z-index: map-get($layer, 'sectionTitle');
//         position: relative;
//         display: inline-block;
//     }

//      span::before {
//         content: "";
//         position: absolute;
//         top: 0;
//         left: 0;
//         bottom: 0;
//         right: 0;
//         background: $cSlidTitle;
//         opacity: 0;
//         z-index: map-get($layer, 'sectionSlide');
//     }
//     &.is-inview {
//          span {
//             opacity: 1;
//             transition: all .3s ease;
//             @include animation(
//                 $name: sectionTitle,
//                 $duration: 1.3s,
//                 $timing-function: ease-in-out
//             );
//             @keyframes sectionTitle {
//                 0% {
//                     color: transparent;
//                 }
//                 50% {
//                     color: transparent;
//                 }
//                 100% {
//                     color: $cBase;
//                 }
//             }
//         }

//          span::before {
//             opacity: 1;
//             @include animation(
//                 $name: sectionTitleSlid,
//                 // $duration: 1.3s,
//                 $timing-function: ease-in-out
//             );
//             @keyframes sectionTitleSlid {
//                 0% {
//                     transform-origin: left;
//                     transform: scaleX(0);
//                 }
//                 50% {
//                     transform-origin: left;
//                     transform: scaleX(1);
//                 }
//                 50.1% {
//                     transform-origin: right;
//                     transform: scaleX(1);
//                 }
//                 100% {
//                     transform-origin: right;
//                     transform: scaleX(0);
//                 }
//             }
//         }

//     }
// }

// .skills__img {
//     transform: translateX(100%);
//     opacity: 0;
//     &.is-inview {
//         @include animation(
//             $name: skillImg,
//             $duration: .5s,
//             $timing-function: ease-in-out
//         );
//         @keyframes skillImg {
//             0% {
//                 opacity: 0;
//                 transform: translateX(100%);
//             }
//             30% {
//                 opacity: 0;
//                 transform: translateX(70%);
//             }
//             100% {
//                 opacity: 1;
//                 transform: translateX(0%);
//             }
//         }
//     }
// }
// .skills__list {
//     transform: translateX(-90%);
//     opacity: 0;
//     &.is-inview {
//         @include animation(
//             $name: skillList,
//             $duration: .5s,
//             $timing-function: ease-in-out
//         );
//         @keyframes skillList {
//             0% {
//                 opacity: 0;
//                 transform: translateX(-100%);
//             }
//             30% {
//                 opacity: 0;
//                 transform: translateX(-70%);
//             }
//             100% {
//                 opacity: 1;
//                 transform: translateX(0%);
//             }
//         }
//     }
// }

// .works__item {
//     transform: translateY(50%);
//     opacity: 0;
//     &.is-inview {
//         @include animation(
//             $name: workItem,
//             $duration: .5s,
//         );
//         @keyframes workItem {
//             0% {
//                 transform: translateY(50%);
//                 opacity: 0;
//             }
//             100% {
//                 transform: translateY(0%);
//                 opacity: 1;
//             }
//         }
//     }
// }