/* layout */
$layout-sm: 576px;
$layout-md: 768px;
$layout-lg: 992px;
$layout-pc: 1440px;

/* breakpoint */
$breakpoints: (
    'sm': 'screen and (max-width: #{$layout-sm - 1px})',
    'md': 'screen and (min-width: #{$layout-sm})',
    'lg': 'screen and (min-width: #{$layout-lg})',
    'pc': 'screen and (min-width: #{$layout-pc})',
);

/* height */
$sHeader: 46px;
$sHeaderLg: 75px;

/* z-index */
$layer:(
    toggle: 10001,
    drawer: 10000,
    header: 9000,
    sectionTitle: 1,
    sectionSlid: 10
);